<div>
  <h1 mat-dialog-title>Add New Food</h1>
  <mat-dialog-content>

    <form class="newFoodForm" (submit)="addNewFood()">

      <div>
        <mat-form-field appearance="fill">
          <mat-label for="id">ID</mat-label>
          <input matInput type="text" id="id" name="id" disabled>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label for="title">Title</mat-label>
          <input matInput type="text" id="title" name="title" [(ngModel)]="newFood.title" required>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label for="desc">Description</mat-label>
          <textarea matInput name="description" id="desc" cols="30" rows="4" [(ngModel)]="newFood.description" required></textarea>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label for="creator">Creator</mat-label>
          <input matInput type="text" id="creator" name="creator" [(ngModel)]="newFood.creator" required>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label for="type">Type</mat-label>
          <input matInput type="text" id="type" name="type" [(ngModel)]="newFood.type">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label for="img">Image Url</mat-label>
          <input matInput type="text" id="img" name="img" [(ngModel)]="newFood.imgURL">
        </mat-form-field>
      </div>

      <div class="addBtn">
        <mat-dialog-actions>
          <button mat-raised-button mat-dialog-close color="accent">close <mat-icon>close</mat-icon></button>
          <button mat-raised-button color="primary" [mat-dialog-close]="newFood" type="submit">Add Food <mat-icon>add</mat-icon></button>
        </mat-dialog-actions>
      </div>
    </form>
  </mat-dialog-content>
</div>
