<p>modify-content works!</p>
<section class="newFood-Section">
    <div>
        <h2>Add New Food</h2>
        <form class="newfoodForm" (submit)="addNewFood()">
          
          <div>
            <label for="title">Title:</label> {{newFood.title}}
            <input type="text" id="title" name="title" [(ngModel)]="newFood.title">
          </div>

          <div>
            <label for="desc">Description:</label> {{newFood.description}}
            <textarea name="description" id="desc" cols="30" rows="4" [(ngModel)]="newFood.description"></textarea>
          </div>

          <div>
            <label for="creator">Creator:</label> {{newFood.creator}}
            <input type="text" id="creator" name="creator" [(ngModel)]="newFood.creator">
          </div>
          
          <div>
            <label for="type">Type:</label>
            <input type="text" id="type" name="type" [(ngModel)]="newFood.type">
          </div>
          
          <div>
            <label for="img">Image Url:</label>
            <input type="text" id="img" name="img" [(ngModel)]="newFood.imgURL">
          </div>

          <div class="addBtn">
            <button type="submit">Add Food</button>
          </div>
        </form>
    </div>
</section>
