<section class="foodById-sec">
  <div class="idForm">
    <form (submit)="findFoodById()">
      <mat-form-field>
        <mat-label for="foodId">Enter an ID</mat-label>
        <input matInput type="number" min="0" id="foodId" name="foodId" [(ngModel)]="foodId" placeholder="Enter an id">
      </mat-form-field> <br>
      <button mat-raised-button color="primary" type="submit">Get Food <mat-icon>download</mat-icon></button>
    </form>
  </div>
  <div class="oneCard">
    <app-content-card [food]="oneFoodById" [class]="'oneFood'"></app-content-card>
  </div>
</section>


<app-message></app-message>

<app-content-list></app-content-list>
