.foodById-sec{
  padding: 24px 12px;
  .idForm{
      margin-bottom: 40px;
      text-align: center;
  
      form{
          max-width: 320px;
          margin: auto;
          input{
              
              padding: 8px 15px;
              
          }
          
      }
  }
}
.oneCard{
  min-width: 80%;
  max-width: 1100px;
  margin: auto;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
