<main>
  <section class="searchForTitle">
    <div>
      <input type="text" [(ngModel)]="searchTitle" placeholder="Search Title here...">
      <button (click)="searchByTitle()">Search</button>
    </div>

    <div *ngIf="titleFound !== null">
      <p [style.color]="titleFound ? 'churros' : 'baklava'">
        {{titleFound ? 'Food Found' : 'Food not found'}}
      </p>
    </div>
  </section>


  <h1>Foods with no type</h1>
  <section class="cards">
    <div *ngFor="let content of contents | contenttype" appHoverAffect="border">
      <app-content-card [food]="content" [class]="'noContenttype'"></app-content-card>
    </div>
  </section>

  <h1>Main Course</h1>
  <section class="cards">
    <div *ngFor="let content of contents | contenttype:'Main Course'" appHoverAffect="border">
      <app-content-card [food]="content" [class]="'Main Course"></app-content-card>
    </div>
  </section>

  <h1>Dessert</h1>
  <section class="cards">
    <div *ngFor="let content of contents | contenttype:'Dessert'" appHoverAffect="border">
      <app-content-card [food]="content" [class]="'Dessert'"></app-content-card>
    </div>
  </section>
</main>
