
<h1 style="  color: black;  text-align:left">Food Items </h1>


  Search Form


  <br />
  <br />
  <div>
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search by title">
    &nbsp;
    <button (click)="checkExistence()"> Search </button>
    <p *ngIf="(searchResults.length === 0 || searchResults.length < 0)" class="search-message red" style="color: red; font-weight: bold; font-size: 25px;">Results not found.</p>
    <p *ngIf="searchTerm && searchResults.length > 0" class="search-message green" style="color: green; font-weight: bold; font-size: 25px;">A content item with this title exists.</p>
  </div>

  <ul>
    <li style="list-style-type: none;" *ngFor="let item of searchResults">{{ item.title }}</li>
  </ul>



  <h2>Content List</h2>

  <h3>No Type</h3>
  <ul>
    <li style="list-style-type: none;" *ngFor="let content of contentList | contenttype">

      <div class="content-card" style="width: 30%; padding: 10px; margin: 10px; text-align: center; background-color:pink; color:lightcyan">
        <h1 class="content-card-header">
          {{content.title}}
        </h1>
        <div class="content-card-body">
          <p><img *ngIf="content.imgURL; else defaultImage" [src]="{{ content.imageURL }}" alt="content image" style="width: 60%" /></p>
          <ng-template #defaultImage>
            <img [src]="'https://thumbs.dreamstime.com/z/churros-isolated-white-background-stacked-79122348.jpg'" alt="default image" style="width: 70%; border-radius: 100px">
          </ng-template>
          <p style="font-size:10px">{{ content.description }}</p>
          <p><strong>Creator:</strong> {{ content.creator }}</p>
          <p appHoverAffect="underline" style="font-size: 15px"><strong>Type:</strong> {{ content.type }}</p>
          <p>
            <strong>Tags:</strong>
            <span *ngFor="let tag of content.tags" appHoverAffect="bold">&emsp;{{ tag }}</span>
            
          </p>
        </div>
      </div>
    </li>
  </ul>

  <h3>Dessert</h3>
  <ul>
    <li style="list-style-type: none;" *ngFor="let content of contentList | contenttype: 'MainCourse'">

      <div class="content-card" style="width: 30%; padding: 10px; margin: 10px; text-align: center; background-color:lightblue; color:antiquewhite">
        <h1 class="content-card-header">
          {{content.title}}
        </h1>
        <div class="content-card-body">
          <p><img *ngIf="content.imgURL; else defaultImage" [src]="{{ content.imageURL }}" alt="content image" style="width: 60%" /></p>
          <ng-template #defaultImage>
            <img [src]="'https://as2.ftcdn.net/v2/jpg/02/37/83/99/1000_F_237839917_ZjhoF520vETpKFFbXv1bgBGvxzlM9T0Z.jpg'" alt="default image" style="width: 70%; border-radius: 100px">
          </ng-template>
          <p style="font-size:10px">{{ content.description }}</p>
          <p><strong>Creator:</strong> {{ content.creator }}</p>
          <p appHoverAffect="underline" style="font-size: 20px"><strong>Type:</strong> {{ content.type }}</p>
          <p>
            <strong>Tags:</strong>
            <span *ngFor="let tag of content.tags" appHoverAffect="bold">&emsp;{{ tag }}</span>
          </p>
        </div>
      </div>
    </li>
  </ul>

  <h3>MainCourse</h3>
  <ul>
    <li style="list-style-type: none;" *ngFor="let content of contentList | contenttype:'MainCourse'">

      <div class="content-card" style="width: 30%; padding: 10px; margin: 10px; text-align: center; background-color:lightsalmon; color:lightblue">
        <h1 class="content-card-header">
          {{content.title}}
        </h1>
        <div class="content-card-body">
          <p><img *ngIf="content.imgURL; else defaultImage" [src]="{{ content.imageURL }}" alt="content image" style="width: 60%" /></p>
          <ng-template #defaultImage>
            <img [src]="'https://thumbs.dreamstime.com/z/baklava-sweet-turkish-pastry-closeup-31955869.jpg'" alt="default image" style="width: 70%; border-radius: 100px">
          </ng-template>
          <p style="font-size:10px">{{ content.description }}</p>
          <p><strong>Creator:</strong> {{ content.creator }}</p>
          <p appHoverAffect="underline" style="font-size: 20px"><strong>Type:</strong> {{ content.type }}</p>
          <p>
            <strong>Tags:</strong>
            <span *ngFor="let tag of content.tags" appHoverAffect="bold">&emsp;{{ tag }}</span>
          </p>
        </div>
      </div>
    </li>
  </ul>



